/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * shame.scss
 * =========================================================================
 * because hacks happen.
 *
 * be very specific about what each piece of code is doing, 
 * and how to better fix it later
 * =========================================================================
 *
 * The Rules
 * -----------------
 *
 * + If it's a hack, it goes in _shame.scss
 * + Document all hacks *fully*
 *	 - What part of the codebase does it relate to?
 *	 - Why was this needed?
 *	 - How does this fix it?
 *	 - How might you fix it properly, given more time?
 * + Do not blame the developer; if they explained why they had to do it then their reasons are probably (hopefully) valid.
 * + We will routinely clean shame.scss up from time to time.
 *
 * Read more: http://csswizardry.com/2013/04/shame-css/
 *
 * @TODO: Update RULES as necessary.
 *
 * @BUG:
 *
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


/*-Quick Fix Example-------------------------------------------------------*/
/* Nav specificity fix.
 *
 * Someone used an ID in the header code (`#header a {}`) which trumps the nav selectors (`.site-nav a {}`).
 * Use !important to override it until I have time to re-factor the header stuff.
 */
// .site-nav a {
//	color: #BADA55 !important;
// }

/*-Quick Fix 1-------------------------------------------------------------*/
.social-icons .deviantart:hover { background-color: #05cc48; }
.social-icons .linkedin:hover { background-color: #0077b5; }
.social-icons .instagram:hover { background-color: #ff0076; }

.social-icons .coroflot:hover { background-color: #ff5400; }
.btn-social.coroflot svg {
	max-width: 14px;
	max-height: 14px;
	margin-bottom: -2px;
}

/* //From "theme/css/colors/light.css" 23) SOCIAL BUTTONS
.social-icons .btn-social {
	color: #fff;
	background-color: rgba(0,0,0,.12);
}
.social-icons .facebook:hover { background-color: #3b5998; }
.social-icons .twitter:hover { background-color: #2daddc; }
.social-icons .google-plus:hover { background-color: #d14836; }
.social-icons .youtube:hover { background-color: #e52d27; }
.social-icons .instagram:hover { background-color: #3b6994; }
.social-icons .pinterest:hover { background-color: #bd081c; }
.social-icons .email:hover {
	color: #fff;
	background-color: #ddd;
}
.social-icons .rss:hover { background-color: #f90; }

// Tooltips
.social-icons .btn-social + .tooltip .tooltip-arrow { border-top-color: rgba(0,0,0,.2); }
.social-icons .btn-social + .tooltip .tooltip-inner { background-color: rgba(0,0,0,.2); }
*/

/*-Quick Fix 2-------------------------------------------------------------*/
.blog {
	&:first-of-type { padding-bottom: 0px; }
	&:nth-of-type(2) { padding-top: 0px; }
}

/*-Quick Fix 3-------------------------------------------------------------*/
a[href^=mailto].btn-social:after {
    content: '';
}

/*-Quick Fix 4-------------------------------------------------------------*/
/*-Quick Fix 5-------------------------------------------------------------*/
/*-Quick Fix 6-------------------------------------------------------------*/
/*-Quick Fix 7-------------------------------------------------------------*/
/*-Quick Fix 8-------------------------------------------------------------*/
